<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <div class="wrapper">
    <%- include("../partials/header.ejs"); %>

    <div class="sidebar-layout">
      <main>
        <%- body %>
      </main>
      
      <aside>
        <h2>Sidebar</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore voluptate cupiditate quia officiis. Necessitatibus a expedita error blanditiis culpa possimus quisquam molestiae vitae, quos, veritatis quo rem eos. Modi, perferendis!</p>
      </aside>
    </div>
    
    <%- include("../partials/footer.ejs"); %>
  </div>
</body>
</html>