<div class="row mt-5">
  <div class="col">
    <h2>Update user</h2>

    {{#if alert}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Great!</strong> {{alert}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}
  </div>
</div>

<hr>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit form</li>
  </ol>
</nav>

{{#each rows}}
<form class="row g-3 needs-validation" method="post" action="/edituser/{{this.id}}" novalidate>
    {{> user-form}}
</form>
{{/each}}
